// BEGIN: abpxx6d04wxr
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
// .bg-space {
//     background-image: url('priv/static/images/background.jpg');
//     background-size: cover;
//     background-position: center;
// }

// @font-face {
//     font-family: "WorkSans";
//     src: url("/fonts/WorkSans-Regular.ttf");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "WorkSans";
//     src: url("/fonts/WorkSans-Bold.ttf");
// }

.dropdown-menu-arrow::before {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(95% - 12px);
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent white transparent
}

.menu-item {
    @include block;
    @include px-4;
    @include py-2;
    @include text-sm;
    @include text-white;
    @include font-brand;
    @include font-regular;
}

.menu-item:hover {
    @include hover(text-emDark-light);
}

.round-image-padding {
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
    padding: 4px;
}

.img-down-arrow::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 45%;
    transform: translateY(-50%);
    border-width: 3px 3px 0 3px;
    border-color: white transparent transparent transparent;
    border-style: solid;
}

// END: abpxx6d04wxr