<main class="flex flex-col items-center justify-start w-full max-w-screen-xl mx-auto">
  <div class="px-2 sm:px-4 md:px-8">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer class="p-4 text-sm text-center text-gray-400 leading-6 bottom-0 sticky">
  <p>
    Crafted with ❤
  </p>
</footer>
